# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
LAB_10/Q1/info.txt
LAB_10/Q2/info.txt
LAB_10/Q3/info.txt
LAB_10/Q4/info.txt
LAB_10/Q5/info.txt
LAB_10/Q6/info.txt
LAB_6/Q6/info.txt
LAB_6/Q6/SerialToSerialBT.ino
LAB_7/Q1/info.txt
LAB_7/Q2/info.txt
LAB_7/Q3/info.txt
LAB_7/Q4/info.txt
LAB_7/Q5/info.txt
LAB_7/Q6/info.txt
LAB_8/Q1/info.txt
LAB_8/Q2/info.txt
LAB_8/Q3/info.txt
LAB_8/Q4/info.txt
LAB_8/Q5/info.txt
LAB_8/Q6/info.txt
LAB_9/Q1/info.txt
LAB_9/Q2/info.txt
LAB_9/Q3/info.txt
LAB_9/Q4/info.txt
LAB_9/Q5/info.txt
LAB_9/Q6/info.txt
Z_Final/F1/info.txt
Z_Final/F2/info.txt
Z_Final/F3/info.txt
Z_Final/F4/info.txt
Z_Final/F5/info.txt
Z_Final/F6/info.txt
